.navbar {
  background-color: yellow;
  height: 60px;
}
 

.title {
  text-align: center;
  background-color: rgb(23, 158, 221);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.extra {
  background-color: red;
  color:red;
}

.box {
  height:200px;
  width: 200px;
  background-color: blanchedalmond;

}
 
.images {
  background-color: aqua;

}

.SecondHeaders {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
  background-color: black;


}